<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XB1ControllerBatteryIndicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <XB1ControllerBatteryIndicator.Properties.Settings>
      <setting name="AutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="wavFile" serializeAs="String">
        <value />
      </setting>
      <setting name="LowBatteryWarningSound_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LowBatteryWarningSound_Loop_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
    </XB1ControllerBatteryIndicator.Properties.Settings>
  </userSettings>
</configuration>
